.doublebox {
   display: flex;
   justify-content: space-between;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 2rem;
}

.singlebox {
   width: 40%;
   display: flex;
   flex-direction: column;
}

.singlebox img {
   width: 3rem;
   height: 3rem;
}

.rightbox {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-left: 2rem;
   margin-right: 2rem;
   position: relative;
}

.selectionBox {
   height: 70%;
   width: 100%;
   position: absolute;
   margin-top: 8rem;
   left: 0rem;
}

.inputfield {
   height: 2.5rem;
   width: 100%;
   margin-top: 0.6rem;
}

.paddingInBox {
   padding-left: 0.5rem;

}

.marginInBox {
   margin-top: 0.6rem;
}

.textInBox {
   font-size: 0.9rem;
}

.datepicker {
   position: relative;
}

.pointer:hover {
   cursor: pointer;
}

.Calender {
   width: 2.6rem !important;
   height: 2.6rem !important;
   position: absolute;
   right: -0.2rem;
   bottom: 0.15rem;
}

.headline {
   position: absolute;
   left: 0px;
   top: 1rem;
}

.Buttonbox {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 3rem;
   width: 100%;
   height: 20%;
}

.UserOverlay {
   position: absolute;
   top: 10%;
   left: 20%;
   z-index: 2;
   width: 60%;
   height: 28rem;
   display: flex;
   flex-wrap: wrap;
   overflow: scroll;
}

.UserOverlay::-webkit-scrollbar {
   display: none;
 }

.OverlayBackground {
   position: absolute;
   background-color: rgba(128, 128, 128, 0.856);
   width: 100vw;
   height: 100vh;
}

.CloseImg {
   position: absolute;
   z-index: 5;
   top: 1rem;
   right: 1rem;
   width: 3rem;
   height: 3rem;
}

.Creationwindow{
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 5;
   position: absolute;
   left: 30%;
   top: 30%;
   width: 40%;
   height: 40%;
   background-color: gray;
}
.Creationwindow img{
   width: 50%;
}

.UserBox {
   width: 27%;
   margin: 1%;
   height: 13rem;
   z-index: 5;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   border: solid 1px whitesmoke;
   padding: 2%;
   color: antiquewhite;
   align-items: center;
   position: relative;
   overflow: scroll;
}

.UserBox::-webkit-scrollbar {
   display: none;
 }

.Assigned {
   display: flex;
   justify-content: center;
}

.UserBox h3 {
   color: antiquewhite;
}

.UserBox img {
   width: 5rem;
   height: 5rem;
   border-radius: 100%;
}

.Users img{
   border-radius: 100%;
}

.UserBox:hover {
   cursor: pointer;
   background-color: rgba(0, 128, 0, 0.075);
}

.Selected {
   display: flex;
   align-items: center;
   position: absolute;
   top: 0;
   z-index: 6;
   width: 100%;
   height: 100%;
   background-color: rgba(20, 20, 20, 0.849);
}

.Selected h3 {
   color: antiquewhite;
   text-align: center;
}

@media (max-height: 960px) {
   .Buttonbox {
      margin-top: 1rem !important;
   }

   .selectionBox {
      margin-top: 5rem !important;
      height: calc(100% - 5rem);
   }
}


@media (max-width: 960px) {
   .selectionBox {
      margin-top: 20%;
   }

   .rightbox {
      margin: 0;
      height: 93%;
   }

   .headline {
      top: 0.7%;
      text-align: center;
      width: 100%;
      height: 4.5rem;
   }

   .doublebox {
      flex-direction: column;
      width: 90%;
      padding-top: 0.6rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
   }

   .Buttonbox {
      height: 3.1rem;
      margin-top: 9%;
   }

   .singlebox {
      width: 100%;
      text-align: center;
   }

   .inputfield {
      width: calc(100% - 0.5rem);
   }

   textarea {
      height: 3rem;
   }

   .inputfield {
      height: 2.0rem;
   }

   .Calender {
      width: 1.8rem !important;
      height: 1.8rem !important;
      right: 0.2rem;
      bottom: 0.24rem;
   }
   .UserBox{
      left: 0.5%;
      margin: 0.8%;
      width: 43%;
   }
}
