.deactivateClick {
    pointer-events: none;
    cursor: initial;
}

.d-none {
    display: none !important;
}

.overflow-auto {
    overflow: auto;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 8px;
    margin-top: 1rem;
}

/* https://fonts.google.com/icons?selected=Material+Icons */
.material-icons {
    font-size: 1.5em;
    text-align: center;
    color: white;
    cursor: pointer;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

header span {
    color: blue;
    line-height: 2em;
}

/* Main Task Container with all Single Tasks */
.allTasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
}

/* Single Task Container */

.taskContainer {
    width: 100%;
    display: flex;
    /* flexbox subcontainers parts: 3 - 2 - 5 */
    gap: 32px;
    padding: 16px 12px;
    background-color: rgba(211, 211, 211, 0.281);
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    flex-wrap: wrap;
}

.containerHeight {
    min-height: 100px;
    max-height: 136px;
}

.tableHead {
    background-color: unset !important;
}

.assignedTo {
    min-width: 275px;
    max-width: 275px;
}

.assignedTo img {
    width: 55px;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.assignedTo #userEmail {
    color: blue;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.taskTimeline {
    min-width: 100px;
    max-width: 100px;
    margin-right: 40px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.dueDate-container{
    position: relative;
}

.overlay-preventEditing{
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 3;
}
.taskTimeline-container{
    border: 1px solid rgba(121, 121, 121, 0.096);
    text-align: center;
    height: 1.4em;
    width: 160px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.taskTimeline .material-icons {
    margin-right: 10px;
    font-size: 1em;
    line-height: unset;
    color: black;
    cursor: default;
}

.taskTimeline input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
    font-style: unset;
    font-weight: normal;
    width: 100%;
}

.taskTimeline input::placeholder {
    color: black;
}

.Calender {
    width: 2.6rem !important;
    height: 2.6rem !important;
    position: absolute;
    right: -0.2rem;
    bottom: 0.15rem;
}

.urgencySelector {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
    font-style: unset;
    font-weight: normal;
    width: 100%;
    appearance: none; /* hide the arrow for dropdown per default */
}

.taskDescription {
    flex: 6;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 150px;
}

.taskDescription .titleTask {
    font-weight: 700;
    overflow-wrap: anywhere;
}

.taskDescription .textTask {
    overflow-wrap: anywhere;
    overflow:auto;
}

.placeholderDIV {
    width: 42px;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.281);
    border-radius: 0px 8px 8px 0px;
}

.taskButtons {
    width: 44px;
    height: 100%;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.281);
    border-radius: 8px;
}

.taskButtons button {
    flex: 1;
    width: 100%;
    border: solid 1px rgba(255, 255, 255, 0);
    background-color: rgb(180, 180, 180);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.taskButtons button:hover {
    background-color: white;
}

.taskButtons button:hover .material-icons {
    color: blue;
}

#btn-addBoard {
    border-radius: 0px 8px 0px 0px;
}

.btn-edit {
    border-radius: 0px 0px 8px 0px;
}

.btn-save {
    border-radius: 0px 0px 8px 0px;
    background-color: white !important;
}

.btn-save .material-icons {
    color: blue;
}

.msgEmptyBacklog {
    border-radius: 8px;
    justify-content: center;
    padding: 8px 0px;
    margin-top: 16px;
}

/**  MOBILE  **/

@media (max-width: 900px) {
    .tableHead {
        display: none;
    }

    .Complete {
        align-items: center;
    }

    .section {
        margin-left: 0px !important;
        margin-right: 0px !important;
        max-width: 90%;
    }

    .allTasks {
        width: 100%;
    }

    header {
        width: 100%;
        align-items: center;
    }

    .tableHead {
        display: none;
    }

    .taskContainerWrapper {
        max-width: 100%;
    }

    .taskContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .taskTimeline {
        align-items: flex-start;
        margin-right: 0px;
        margin-left: 0px;
    }

    .containerHeight {
        min-height: unset;
        max-height: unset;
    }

    @media (max-width: 400px) {
        .assignedTo {
            min-width: fit-content;
            max-width: fit-content;
        }

        .taskTimeline {
            min-width: fit-content;
            max-width: fit-content;
        }
    }
}
