.flex {
    display: flex;
}

.vw-100 {
    width: 100vw;
}

.vh-100 {
    height: 100vh;
}

.mg-top-btm-3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.board {
    position: relative;
    display: flex;
    width: 85%;
    height: 100vh;
    /*     background-color: whitesmoke; */
}

.status {
    position: relative;
    text-align: center;
    /* height: 100%; */
    width: 25%;
    /*     border: 2px yellow solid; */
}

.field {
    background-color: rgba(128, 128, 128, 0.856);
    height: 80%;
    margin-top: 12%;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 5%;
}