*{
    box-sizing: border-box;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainContainer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.helpSection{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}


.img-help{
    max-width: 100%;
    margin-bottom: 70px;
}

.mt-30{
    margin-top: 30px;
}

.helpimages{
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 900px) {

    .navbar{
        width: 100%;
    }
    .mainContainer {
        margin-left: 0px; 
        margin-right: 0px;
      padding-left: 1em;
      padding-right: 1em;
    }

    .Complete{
        width: 100%;
        word-wrap: break-word;
    }
    
    .helpimages{
        width: 90%;
    }
}


