.mainContainer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.helpSection{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
