body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;

}
.flex{
    display: flex;
    justify-content: center;
    align-self: center;
}
.maincolor{
    color: blue;
}
.maincolorbackground{
    background-color: blue;
}
.bgGray{
    background-color: rgba(211, 211, 211, 0.397);
}
.Complete{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: black solid 2px;
    border-radius: 2rem;


}