* {
    padding: 0;
    margin: 0;
    font-family: ** pt sans family einfügen **;
    box-sizing: border-box;

}
.flex{
    display: flex;
    justify-content: center;
    align-self: center;
}
.maincolor{
    color: blue;
}
.maincolorbackground{
    background-color: blue;
}
.button{

}
.bgGray{
    background-color: rgba(211, 211, 211, 0.397);
}