:root{
    font-size: 1.2rem;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;
}
h2{
    font-size: 2rem;
    color: blue;
    font-weight: bold;
}

h3{
    font-size: 1.4rem;
    color: blue;
}
::placeholder{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}
textarea{
    font-family: 'PT Sans', sans-serif;
}
input{
    font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-self: center;
}
.maincolor{
    color: blue;
}
.maincolorbackground{
    background-color: blue;
}
.bgGray{
    background-color: rgba(211, 211, 211, 0.397);
}
.Complete{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-top: rgba(0, 0, 0, 0.5) solid 2px;
    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
    border-right: rgba(0, 0, 0, 0.5) solid 2px;

    border-radius: 2rem;
}
.Button{
    height: 3.1rem;
    width: 9rem;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
}

.d-none{
    display: none !important;
}

.CloseImg {
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
 }

.color-sales{
    border-left: 9px solid rgb(159, 192, 98);

}

.color-marketing{
    border-left: 9px solid rgb(173, 70, 177);
}

.color-production{
    border-left: 9px solid rgb(4, 179, 179);
}

.color-designer{
    border-left: 9px solid rgb(228, 165, 17);
}

@media (max-width: 900px) {
    .Complete{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border: none;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.1rem;
    }
}