
<a href="./addTask.html"><img src="img/joinlogo.png" class="logo"></a>
<div class="nav-links">
    <a href="./addTask.html" id="AddTask" onload="current(1)">Add Task</a>
    <a href="./backlog.html" id="Backlog" onclick="current(2)">Backlog</a>
    <a href="./board.html" id="Board" onclick="current(3)">Board</a>
    <a href="./help.html" id="Help" onclick="current(4)">Help</a>
</div>
<a href="#" onclick="deleteTasks()" style="color: aliceblue;">!! Delete all Tasks !!</a>
<img src="./img/profile2.png" class="img-user">


